<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Learn to Meditate</h3>
    </div>
    <div class="panel-body">
      <p class="lead">This application was created for Uber employees to treat feelings of stress with meditation. Ready to start?</p>
      <p>There are actually various different ways to meditate. Pick one that looks interesting to you!</p>
    </div>
  </div>

  <div class="blocks">
    <div class="meditation-block" style="background: #F49AC2;">
      <div class="meditation-title">Focused Attention</div>
      <p>Focusing the attention on a single object during the whole meditation session.</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#focusedModal">
        Try it out
      </button>
    </div>
    <div class="meditation-block" style="background: #FFB347;">
      <div class="meditation-title">Open Monitoring</div>
      <p>We monitor all aspects of our experience, without judgment or attachment.</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#openModal">
        Try it out
      </button>
    </div>
    <div class="meditation-block" style="background:#FDFD96;">
      <div class="meditation-title">Effortless Presence</div>
      <p>The attention is not focused on anything in particular, but reposes on itself.</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#effortlessModal">
        Try it out
      </button>
    </div>
    <div class="meditation-block" style="background:#779ECB;">
      <div class="meditation-title">Zen Meditation</div>
      <p>Focus all your attention on the movement of the breath going in and out.</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#zenModal">
        Try it out
      </button>
    </div>
    <div class="meditation-block" style="background:#B19CD9;">
      <div class="meditation-title">Vipassana Meditation</div>
      <p>Stabilize the mind and achieve “access concentration.”</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vipassanaModal">
        Try it out
      </button>
    </div>
    <div class="meditation-block" style="background:#77DD77;">
      <div class="meditation-title">Mindfulness Meditation</div>
      <p>Focus on the present moment, accepting and non-judgmentally.</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mindfulnessModal">
        Try it out
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="focusedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Focused Attention Meditation</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Focus your attention on a single object during the whole meditation session. This object may be the breath, a mantra, visualization, part of the body, external object, etc.</li> 
          <li>As the practice advances, your ability to keep the flow of attention in the chosen object gets stronger, and distractions become less common and short-lived.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="<%=new_meditation_url%>" role="button">Start Meditation</a>
        <button type="button" class="btn btn-default modal-meditation-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Open Monitoring Meditation</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Instead of focusing your attention on any one object, keep it open, monitoring all aspects of your experience, without judgment or attachment.</li> 
          <li>All perceptions, be them internal (thoughts, feelings, memory, etc.) or external (sound, smell, etc.), are recognized and seen for what they are.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="<%=new_meditation_url%>" role="button">Start Meditation</a>
        <button type="button" class="btn btn-default modal-meditation-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="effortlessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Effortless Presence</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Don't focus your attention on anything in particular.</li> 
          <li>Allow your attention to repose on itself – quiet, empty, steady, and introverted.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="<%=new_meditation_url%>" role="button">Start Meditation</a>
        <button type="button" class="btn btn-default modal-meditation-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="zenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Zen Meditation</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Focus all your attention on the movement of the breath going in and out through the nose.</li> 
          <li>This may be aided by counting the breath in your mind. Each time you inhale you count one number, starting with 10, and then moving backward to 9, 8, 7, etc.</li>
          <li>When you arrive in 1, you resume from 10 again. If you get distracted and lose your count, gently bring back the attention to 10 and resume from there.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="<%=new_meditation_url%>" role="button">Start Meditation</a>
        <button type="button" class="btn btn-default modal-meditation-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="vipassanaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vipassana Meditation</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Focus all your attention, from moment to moment, on the movement of your breath.</li> 
          <li>Notice the subtle sensations of the movement of the abdomen rising and falling.</li>
          <li>Alternatively, one can focus on the sensation of the air passing through the nostrils and touching the upper lips skin – though this requires a bit more practice, and is more advanced.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="<%=new_meditation_url%>" role="button">Start Meditation</a>
        <button type="button" class="btn btn-default modal-meditation-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mindfulnessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Mindfulness Meditation</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Mindfulness meditation is the practice of intentionally focusing on the present moment, accepting and non-judgmentally paying attention to the sensations, thoughts, and emotions that arise.</li> 
          <li>For the “formal practice” time, sit on a cushion on the floor, or on a chair, with straight and unsupported back. Pay close attention to the movement of your breath. When you breath in, be aware that you are breathing in, and how it feels. When you breath out, be aware you are breathing out. Do like this for the length of your meditation practice, constantly redirecting the attention to the breath. Or you can move on to be paying attention to the sensations, thoughts and feelings that arise.</li>
          <li>The effort is to not intentionally add anything to our present moment experience, but to be aware of what is going on, without losing ourselves in anything that arises.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="<%=new_meditation_url%>" role="button">Start Meditation</a>
        <button type="button" class="btn btn-default modal-meditation-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>