<!DOCTYPE html>
<html>
<head>
  <title>UberMeditation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <audio id="audio" src="http://www.buddhanet.net/filelib/audio/gong-burmese.wav" autostart="false" ></audio>
  <link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand brandtext"><%= link_to "Uber Meditation", landing_static_pages_path %></span></div>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item"> 
        <%= link_to "Learn", home_static_pages_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Practice", new_meditation_path %>
      </li>
      <li class="nav-item"> 
        <%= link_to "Reflect", meditations_path %>
      </li>
    <li class="nav-item">
        <%= link_to "About the Project", about_the_project_static_pages_path %>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

<div class="container">
  <footer class="footer">
    <span>
      <p class="navbar-text">
        Jessica J. Kim 
      </p>
      <p class="navbar-text">
        <a href="https://github.com/adoseofjess/UberMeditation">Source Code</a>
      </p>
      <p class="navbar-text">
        <a href="https://www.linkedin.com/in/jessicajk">LinkedIn</a>
      </p>
      <p class="navbar-text">
        <a href="mailto:jessjkim@gmail.com">Contact Me</a>
      </p>
    </span>
  </footer>
</div>
</body>
</html>
