<!DOCTYPE html>
<html>
<head>
  <title>UberMeditation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand brandtext">Uber Meditation</span></div>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item"> 
        <%= link_to "Learn", root_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Practice", meditations_create_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Reflect", root_path %>
      </li>
      <li class="nav-item">
        <%= link_to "About the Project", root_path %>
      </li>
    </ul>
  </div>
</nav>


<div class="content">
  <div class="container">
    <%- if flash[:notice] -%>
      <div class="alert alert-info" role="alert">
        <%= flash[:notice].html_safe %>
      </div>
    <%- end -%>
    <%- if flash[:alert] -%>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert].html_safe %>
      </div>
    <%- end -%>
    <%= yield %>
  </div>
</div>

</body>
</html>
